<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REDDIT-CLONE APP : ADD NEW POST</title>
    <link rel="stylesheet" href="/css/reddit.css">
</head>
<body>
<button onclick="location.href='/'">Back to main page</button><br>
<br>
<br>
<h1>Submit new post</h1>
<form th:action="'/submit/'+${userLoggedIn.id}" method="post">
    <label for="title">TITLE</label>
    <input type="text" id="title" name="title"/><br>
    <input class="submit" type="submit" value="Submit">
</form>
</body>
</html>