<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REDDIT-CLONE APP</title>
    <link rel="stylesheet" type="text/css" href="/reddit.css">
</head>
<body>
<a href="/submit">Submit new post</a>
<br>
<br>
<h1>Trending posts</h1>
<div th:if="${none}" th:text="${none}"></div>
<th:block th:unless="${none}">
    <th:block th:each="post:${posts}">
        <span th:text="${post.id}"></span>
        <a th:href="'/upvote/'+${post.id}">+</a>
        <a th:href="'/downvote/'+${post.id}">-</a>
        <span th:text="${post.title}"></span><br>
    </th:block><br>
</th:block>
</body>
</html>