<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REDDIT-CLONE APP: MY POSTS</title>
    <link rel="stylesheet" href="/css/reddit.css">
</head>
<body class="body">
<button th:onclick="'window.location.href= \''+ '/submit/' +${loggedInUser.id}+'\''">Submit new post</button>
<br>
<button onclick="location.href='/user/logout'">Logout</button>
<br>
<br>
<h1>Trending posts</h1>
<div th:if="${none}" th:text="${none}"></div>
<div th:unless="${none}">
    <div  class="flex-container" th:each="post:${posts}">
        <div>
            <span th:text="'Votes on post: '+${post.vote}"></span>
            <button th:onclick="'window.location.href= \''+'/edit/'+${loggedInUser.id}+'/'+${post.id}+'\''">edit post</button>
            <button th:onclick="'window.location.href= \''+'/delete/'+${loggedInUser.id}+'/'+${post.id}+'\''">delete post</button>
        </div>
        <span class="title" th:text="${post.title}"></span><br>
        <div class="flex-container2" th:each="picture:${post.getPictures()}">
            <div>
                <p class="title2" th:text="${picture.title}"></p>
                <img height="100" th:src="${picture.src}"/>
            </div>
        </div>
        <div class="flex-container3" th:each="video:${post.getVideos()}">
            <div>
                <p class="title2" th:text="${video.title}"></p>
                <video height="100" controls th:src="${video.src}" type="video/*" autoplay="false">
                </video>
            </div>
        </div>
    </div><br>
</div>
</body>
</html>