<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MY TODOS</title>
    <link rel="stylesheet" type="text/css" href="/todo.css">
</head>
<body>
<h1>TODOS FOR TODAY</h1>
<a href="/todo/add">ADD NEW TODO TO LIST</a>
<br>
<br>
<a href="/todo/search">SEARCH TODO</a>
<br>
<br>
<a href="/assignee">LIST OF ASSIGNEES</a>
<br>
<br>
<div th:if="${none}" th:text="${none}"></div>
<table th:unless="${none}">
        <thead>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
            <th>ASSIGNEE</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        </thead>
        <tr th:each="todo: ${todos}" th:object="${todo}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{done}"></td>
            <td th:text="*{urgent}"></td>
            <td th:text="*{assignee==null} ? '' : *{assignee.name}"></td>
            <td><a th:href="'/todo/'+*{id}+'/delete'">DELETE</a></td>
            <td><a th:href="'/todo/'+*{id}+'/edit'">EDIT</a></td>
        </tr>
</table>
</body>
</html>