<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pirate App - About the game</title>
</head>
<body>
<h1>About the game</h1>
<div>You can choose a pirate for yourself, and and take him to the bar, where he can brawl with other pirates.</div>
<div>Or you can choose a pirateship, fill it with pirates and battle with other pirateships.</div>
<div>
    <a href="/pirate/game with pirate">Choose a pirate</a><br>
    <a href="/pirate/game with ships">Choose a ship</a>
</div>
</body>
</html>